<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landmine_ create.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,99},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>landmine_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{116,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,47},{116,125}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>landmine_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,99},{102,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{102,89}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>landmine_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{140,139}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{140,139}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>landmine_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,191}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{220,191}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>landmine_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{168,173}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{168,173}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>landmine_invalidable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,99},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>landmine_invalidable_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,99},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>landmine_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{134,95}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,93},{134,95}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>landmine_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{134,95}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,93},{134,95}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landmine.png</string>
            <key>size</key>
            <string>{926,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad0291d8b888bae59d8fa273b55e3d6b:417d8d00b1ce65d88bf789a56aff30ef:54be8f788850be34fe45016fa1970a94$</string>
            <key>textureFileName</key>
            <string>landmine.png</string>
        </dict>
    </dict>
</plist>
