<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_state_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{102,106}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{102,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{102,106}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{102,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{104,106}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{104,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{106,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{106,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,120}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{118,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>trap_state_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{80,86}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{80,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>traps.png</string>
            <key>size</key>
            <string>{938,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f26deca4c80cf7fbd79f8299f0d7443:155fef754a5f5330f6d4b1cb774ac395:628b522d951551bd38af2839a17bf543$</string>
            <key>textureFileName</key>
            <string>traps.png</string>
        </dict>
    </dict>
</plist>
