<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sectionselect_V3.psd_Psd.Dir/BACKGROUND.png</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>720</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>720</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sectionselect_v2.psd_Psd.Dir/baby.png</key>
			<dict>
				<key>width</key>
				<integer>396</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>396</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>1282</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sectionselect_v2.psd_Psd.Dir/kid.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sectionselect_v2.psd_Psd.Dir/child.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>373</integer>
				<key>originalHeight</key>
				<integer>257</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sectionselect_v2.psd_Psd.Dir/young.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>271</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>271</integer>
				<key>x</key>
				<integer>763</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sectionselect_v2.psd_Psd.Dir/kid_dark.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>1151</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sectionselect_v2.psd_Psd.Dir/child_dark.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>373</integer>
				<key>originalHeight</key>
				<integer>257</integer>
				<key>x</key>
				<integer>1539</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sectionSelect0.png</string>
			<key>realTextureFileName</key>
			<string>sectionSelect0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>