<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby1angry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1angry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1angry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1angry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1angry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1angry6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1cry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1cry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1cry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1cry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1cry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1cry6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1happy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1happy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1happy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1happy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1happy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1happy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurted1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurted2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurted3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurted4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurted5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurted6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{54,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{54,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{54,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1hurting6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1laugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1laugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1laugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1laugh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1laugh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1laugh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1normal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1sad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1sad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1sad3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1sad4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1sad5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1sad6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{50,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>baby1win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{50,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baby1.png</string>
            <key>size</key>
            <string>{58,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae56a23ac52312a4787283cc509372a:c9e8aa909193d5532ecd25a258bd8e4a:2013279e827caa5f08dedb6e87735622$</string>
            <key>textureFileName</key>
            <string>baby1.png</string>
        </dict>
    </dict>
</plist>
